*{
    box-sizing: border-box;
}

img {
    width: min-content;
    height: 300px;
    padding-top: 12px;
}

footer{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: white;
    text-align: center;
}

h2, h5 {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h6 {
    margin: 10px 0px 0px 0px;
    padding-left: 5px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: square;
}

em {
    margin-right: 5px;
}

h6 ~ p, h2 ~ p {
    margin: 5px;
    padding-left: 5px;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

li {
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: whitesmoke;
}

.container{
    display: flex;
}

.main-section {
    display: flex;
}

.left-section{
    float: left;
    margin: 10px 10px 10px 20px;
    display: block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}

.right-section{
    float: left;
    margin-left: 10px;
}

.experience {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px 10px;
    background-color: white;
    margin: 10px;
}

.achievments{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px 10px;
    background-color: white;
    margin: 10px;
}

.education{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px 10px;
    background-color: white;
    margin: 10px;
}

@media all and (max-width: 600px) {
   .main-section {
    flex-flow: wrap;
   }

   .left-section {
    width: 100%;
   }
}